{% extends 'index.html' %}

{% block title %}404 | Tidak Ditemukan{% endblock %}

{% block content %}
<section class="w-full flex justify-center pt-24">
  <div class="bg-charcoal flex flex-col gap-4 text-cloud p-8 rounded-3xl max-w-md shadow-2xl w-full text-center space-y-4">
    
    <h1 class="text-8xl font-extrabold text-orange">404</h1>
    <article>
        <h2 class="text-2xl font-semibold">Halaman Tidak Ditemukan</h2>
        <p class="text-cloud/80 mt-2 text-base">
          Halaman yang Anda cari mungkin telah dihapus, namanya diubah, atau sementara tidak tersedia.
        </p>
    </article>

    {% if error_message %}
    <p class="text-sm text-cloud/70">Detail Kesalahan: {{ error_message }}</p>
    {% endif %}

    <a href="/" class="inline-block bg-orange hover:bg-orange/60 text-charcoal-darker font-semibold py-2 px-6 rounded-lg transition duration-400 ease-in-out">
      Kembali ke Beranda
    </a>
    
  </div>
</section>
{% endblock %}
